{{ partial "header.html" . }}
<main id="site-main" class="site-main">
    <div class="main-content main-bg">
        <div class="post-head body--dark-bg space--center">
            <div class="container">
                <header class="post-header is-center">
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
            </div>
        </div>
        <div class="content-area single-post main-bg page-wrapper">
           <div class="post-content space--center is-center">
               <p>Hi, Apakah Anda mengalami kesulitan dalam melakukan pendaftaran PayTren?</p>
               <p>Atau Anda butuh bantuan lain yang berhubungan dengan bisnis PayTren?</p>
               <h4>Silahkan hubungi kontak kami:</h4>
               {{ with $.Site.Data.setting.author }}
                <h4>Nama: {{.name}}</h4>
                <h4>SMS/Whatsapp: {{ .whatsapp }}</h4>
                {{end}}
                <h4>Atau isi form berikut:</h4>
            </div>
            <div class="contact-form space--center">
                <form name="kontak" method="POST" netlify>
                    <label>Nama Lengkap</label> : <input type="text" name="Nama" placeholder="Nama Lengkap"><br>
                    <label>Jenis Kelamin</label> : <input type="text" name="Jenis Kelamin" placeholder="Laki-laki/Perempuan"><br>
                    <label>Kota</label> : <input type="text" name="Kota" placeholder="Kota"><br>
                    <label>Nomor HP</label> : <input type="text" name="Nomor HP" placeholder="Nomor HP Anda"><br>
                    <label>Email Anda</label> : <input type="text" name="Email" placeholder="Email Anda"><br>
                    <label>Ajukan Pertanyaan</label> : <textarea rows="4" cols="50"></textarea><br>

                    <div class="tren-button"><button class="button tren-bg" type="submit">Kirim</button></div>
                </form>
            </div>
        </div>
    </div>
</main>
{{ partial "footer.html" . }}