{{ partial "header.html" . }}
<main id="site-main" class="site-main">
    <div class="main-content body--dark-bg">
        <div class="container main-bg clearfix">
            <div class="content-area col-2-3">
                <div class="single-page single-post__wrapper">
                    <article class="page-article">
                            <header class="page-header">
                                <h1 class="page-title">{{ .Title }}</h1>
                            </header>
                        {{ if .Params.thumbnail }}  
                        <div class="post-media">
                            <a href="{{ .Permalink }}" class="post-link">
                                <figure>
                                    <img class="post-image img" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
                                </figure>
                            </a>
                        </div>
                        {{ end }}
                        <div class="post-content">
                            {{ .Content }}
                        </div>
                    </article>
                </div>
            </div>
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</main>
{{ partial "footer.html" . }}