{{ partial "header.html" . }}
<main id="site-main" class="site-main">
    <div class="main-content main-bg">
        <div class="post-head body--dark-bg space--center">
            <div class="container">
                <header class="post-header is-center">
                    <h2 class="post-title">{{ .Title }}</h2>
                </header>
            </div>
        </div>
        <div class="content-area single-post main-bg page-wrapper">
           <div class="post-content space--center is-center">
               {{ .Content }}
            </div>
        </div>
    </div>
</main>
{{ partial "footer.html" . }}