<section class="featured-posts">          
    {{ range $key, $taxonomy := .Site.Taxonomies.featured }}
    {{ range $taxonomy.Pages }}
    <article class="featured-post">
        {{ if .Params.thumbnail }}
        <div class="featured-post__media">  
            <img class="featured-post__image img" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
        </div>
        {{ end }}

        <header class="featured-post__header">
            <a class="featured-post__header-link" href="{{ .Permalink }}"><h3 class="featured-post__title title-color">{{ .LinkTitle }}</h3></a>
            <div class="featured-meta">
                {{ with $.Site.Data.setting.pengguna }}
                <span class="featured-author featured-meta__item">By <a class="author-link link-color" href="/tentang-kami">{{ .username }}</a></span>
                {{ end }}

                <time class="featured-published featured-meta__item"> - {{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 January 2006" }}{{ end }}</time>    
            </div>  
        </header>   
    </article>
    {{ end }} 
    {{ end }}      
</section>