            <footer class="site-footer footer">
                <div class="footer-widget">
                    <div class="container footer-inner">
                       {{ if $.Site.Data.theme.disclaimer_box | default true }}
                        <div class="disclaimer is-center tren-box">
                            <div class="disclaimer-inner">

                                <h3 class="light-text-color">DISCLAIMER</h3>

                                <p class="light-text-color">Website ini bukan merupakan website official PayTren melainkan website promosi mitra resmi PayTren. Berikut ini adalah link situs resmi Treni / PayTren</p>

                                <p class="disclaimer-link"><a href="http://www.paytren.co.id" target="_blank" rel="noopener noreferrer">www.paytren.co.id</a> | <a href="http://www.treni.co.id" target="_blank" rel="noopener noreferrer">www.treni.co.id</a> | <a href="http://www.mytreni.com" target="_blank" rel="noopener noreferrer">www.mytreni.com</a> | <a href="http://www.belanjaqu.co.id" target="_blank" rel="noopener noreferrer">www.belanjaqu.co.id</a></p>
                            </div>
                        </div>
                        {{ end }}

                        {{if eq .Section "post"}}
                        <div class="footer-social space--center is-center">

                            {{ with $.Site.Data.setting }}
                            <div class="social-links">
                                {{ range .social }}
                                <a class="social-links__icon" href="{{ .url }}"><i class="icon-{{ .icon }}"></i></a>
                                {{ end }}
                            </div>
                            {{ end }}

                        </div>
                        {{ end }}

                        <div class="footer-menu">
                            <nav class="nav-footer">
                                {{ if .Site.Menus.footer }}
                                <ul class="menu-footer">
                                    {{ range sort .Site.Menus.footer }}
                                    <li class="menu-footer__item"><a class="menu-footer__link" href="{{ .URL }}">{{ .Name }}</a></li>
                                    {{ end }}
                                </ul>
                                {{ end }}
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        {{ with $.Site.Data.setting.pengguna }}
                        <div class="footer-credit">Copyright &copy; 2018. Web Support Paytren ini milik <a href="{{ .url }}"><b>{{ .nama }}</b></a></div>{{ end }}
                        <div class="footer-arrow">
                        <span><a href="#site-main" class="scroll-top"><i class="icon-up-open"></i></a></span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        {{ partial "js" . }}

    </body>
</html>