<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>

    <title>{{ if .IsHome }}{{ with $.Site.Data.setting }}{{ .site_title }}{{ end }}{{ else }}{{ .Title }} | {{ with $.Site.Data.setting }}{{ .page_title }}{{ end }}{{ end }}</title>
    {{.Hugo.Generator}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ with $.Site.Data.setting }}{{ .pengguna.nama }}{{ end }}">

    <meta name="description" content="{{ if .IsHome }}{{ with $.Site.Data.setting }}{{ .site_description }}{{ end }}{{ else }}{{ .Description }}{{ end }}"/>

    {{ partial "seo.html" . }}
    
    {{ with $.Site.Data.setting }}
    <link rel="shortcut icon" href="{{ "/" | relURL}}{{ . }}">{{ end }}
    
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700|Open+Sans">
    <link rel="stylesheet" type="text/css" href="{{ "css/theme.min.css" | relURL}}" />
    {{ partial "css/parse_theme.css" . }}

    <link rel="stylesheet" href="{{ "styles.css" | relLangURL }}">
    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ "/css/" | relURL }}{{ . }}">
    {{ end }}

    {{ partial "schema.html" . }}

    {{ with $.Site.Data.setting }}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ .googleAnalyticsUserID }}', 'auto');
        ga('send', 'pageview');
    </script>
    {{end}}

</head>


<body>
    <div class="site-wrapper">
<header class="site-header header header-home">
    <div class="nav-home">
        <div class="nav-wrapper container clearfix">
            <div class="nav-brand">
                <a class="site-link" href="{{ .Site.BaseURL }}">
                    {{ with $.Site.Data.setting }}
                    <picture class="site-logo"><img class="site-img" src="{{ .logo }}" alt="mitrapaytren.net"></picture>
                    {{ end }}
                </a>
            </div>
            <div class="nav-main">
                <div class="nav-mobile">
                    <a class="nav-toggle" href="#!"><span class="nav-toggle__item"></span></a>
                </div>
                <nav class="nav-menu">
                    <ul class="nav-menu__item menu">
                        {{ range sort .Site.Menus.main }}
                        <li class="menu-item"><a class="menu-item__link light-text-color" href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
                     </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
