{{ with $.Site.Data.home }}
<div class="tren-head gradient-overlay space--big-center">
    <div class="banner-bg" style="background-image: url({{ $baseurl := .Site.BaseURL }}{{ .section_head.cover}});"></div>
    <div class="mask-bg waves-bg" data-bg-color="#000" data-bg-color-opacity="0.6" style="background-color: rgba(0, 0, 0, 0.6);"></div>
    <div class="home-wrapper">
        <div class="tren-headline is-center"> 
            <h1 class="light-text-color">{{ .section_head.headline}}</h1>
            <h4 class="light-text-color space-text--bottom">{{ .section_head.sub_headline}}</h4>
            <p class="tren-button twin-button">
               {{ with $.Site.Data.theme }}
                <a href="{{ .button_url }}" class="button button--light-bg" target="_blank">Daftar Sekarang</a>{{ end }}
            </p>
            <p class="tren-button twin-button">
                <a href="/marketing-plan" class="button button--light-text">Pelajari Lebih Lanjut</a>
            </p>
        </div>
    </div>
</div>
{{ end }}
   
<div class="tren-wrapper main-bg">
    <div class="home-wrapper">
        <div class="tren-box">
            <div class="space--center">
                <figure>
                   {{ with $.Site.Data.home }}
                    <img src="{{ $baseurl := .Site.BaseURL }}{{ .section_intro.image}}" alt="apa itu paytren" width="720" height="400">{{end}}
                </figure>
            </div>
        </div>
        <div>
           {{ with $.Site.Data.home }}
           <h2 class="is-center line-title">{{ .section_intro.title}}</h2>{{end}}
           {{ with $.Site.Data.home }}
           <p>{{ .section_intro.text_1}}</p>{{end}}
           {{ with $.Site.Data.home }}
           <p>{{ .section_intro.text_2}}</p>{{end}}
           {{ with $.Site.Data.home }}
           <p>{{ .section_intro.text_3}}</p>{{end}}
           {{ with $.Site.Data.home }}
           <p>{{ .section_intro.text_4}}</p>{{end}}
        </div>
    </div>
</div>

{{ with $.Site.Data.home }}
<div class="tren-wrapper cover-image is-cover-fixed" style="background-image: url({{ $baseurl := .Site.BaseURL }}{{ .section_intro.cover}})">{{ end }}
    <div class="tren-cover home-wrapper">
        <div class="tren-video is-fixed-content">
            <div class="video">
                <div class="waves">
                    <div class="wave-one"></div>
                    <div class="wave-two"></div>
                    <div class="wave-three"></div>    
                </div>
                {{ with $.Site.Data.home }}
                <div class="video-button__wrapper"><a class="video-button" href="#media-popup" data-media="https://www.youtube.com/embed/{{ .section_intro.youtube}}"><i class="icon-play"></i></a></div>{{ end }}
                
                <div class="popup video-box" id="media-popup">
                   <div class="tren-youtube">
                       <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
                   </div> 
                </div>
            </div>
            <div class="tren-video__head">
                <h2 class="tren-video__title light-text-color">"Tonton Video Ini Untuk Lebih Detailnya"</h2>
                <h4 class="tren-video__desc"><span class="warning-color">"Rata-Rata 97% Orang Memahami PayTren Setelah Menonton Video Ini. Giliran Anda Sekarang!"</span></h4>    
            </div>
        </div>
    </div>
    <div class="cover-mask"></div>
</div>

<div class="tren-wrapper main-bg">
    <div class="home-wrapper clearfix">
        <div class="col-1-3">
            <figure>
                <img class="img" src="{{ $baseurl := .Site.BaseURL }}/images/ingat.png" alt="ingat paytren" width="324" height="408">
            </figure>
        </div>
        <div class="col-2-3 tren-reason">
            <h4>Sebelum Anda putuskan untuk menggunakan PayTren, coba Anda ingat kembali:</h4>
            <ul>
                <li>Apakah selama ini Anda masih sering melakukan transaksi setiap bulannya?</li>
                <li>Apakah selama ini anda terbiasa melakukan transaksi atau pembayaran rutin seperti pulsa, paket data, token, tagihan listrik,bayar BPJS, bayar cicilan kendaraan, tiket pesawat dan kereta dan transaksi lainnya ke konter / loket / minimarket?</li>
                <li>Apakah selama ini anda merasa lelah karena membuang waktu, tenaga untuk keluar rumah dan keluar biaya yang lebih besar untuk melakukan pembayaran rutin anda?</li>
                <li>Apakah anda sering belanja online untuk membeli barang kebutuhan anda?</li>
                <li>Apa yang anda dapatkan dari kebiasaan rutin anda tersebut? Apakah anda mendapatkan keuntungan dari transaksi yang anda lakukan atau hanya STRUK doang?</li>
                <li>Apakah selama ini anda menginginkan transaksi yang lebih praktis, lebih hemat dan lebih menguntungkan?</li>
                <li>Apakah anda ingin menghemat pengeluaran dan memiliki penghasilan lebih dari HP anda?</li>
            </ul>
        </div>
    </div>
</div>

<div class="tren-wrapper is-center body--dark-bg">
    <div class="tren-box">
        <h4>Kalau jawaban Anda "<b class="danger-color">YA</b>", berarti Anda beruntung menggunakan aplikasi <b><span class="tren-color">PayTren</span></b> ini</h4>
        <div class="space--center">
           {{ with $.Site.Data.theme }}
            <a class="button tren-bg" href="{{ .button_url }}" target="_blank">Daftar Sekarang</a>{{ end }}
        </div>
    </div>
</div>

<div class="tren-wrapper tren-title--light-bg is-center">
    <div class="home-wrapper">
        <h2 class="light-text-color space-title--bottom">Tahukah Anda?</h2>
        <h3 class="light-text-color">Saat ini PayTren telah digunakan oleh lebih dari 1.7 juta orang di 5 benua dan masih terus bertambah setiap harinya</h3>
        <p class="light-text-color no-space">Membuktikan banyak masyarakat terbantu dan merasakan manfaat serta keuntungan PayTren. Berbagai macam transaksi dengan mudah cukup via Handphone kapan dan dimana saja.</p>
    </div>
</div>

<div class="tren-wrapper main-bg">
    <div class="home-wrapper">
        <h2 class="is-center line-title space--top">Apa yang Bisa Anda Lakukan dengan Aplikasi <span class="tren-color">PayTren</span>?</h2>
        <h4 class="space--bottom is-center">Ada banyak fitur menarik pada aplikasi PayTren, dengan fitur-fitur tersebut Anda bisa melakukan:</h4>
        <div class="clearfix">
            <div class="tren-feature col-1-3">
                <span class="tren-feature__icon icon-box"><i class="icon-mobile"></i></span>
                <h4>Topup Pulsa</h4>
                <p>Isi ulang pulsa Anda menjadi lebih mudah, murah, kapan saja dan dimana saja. All operator</p>
            </div>
            <div class="tren-feature col-1-3">
                <span class="tren-feature__icon icon-box"><i class="icon-ticket"></i></span>
                <h4>Beli Tiket</h4>
                <p>Tiket Pesawat domestik dan Internasional, Tiket Kereta api bahkan bisa pilih seat</p>
            </div>
            <div class="tren-feature col-1-3">
                <span class="tren-feature__icon icon-box"><i class="icon-signal"></i></span>
                <h4>Beli Paket Data</h4>
                <p>Beli paket data internet lebih hemat dan praktis, kapan saja Anda mau. All operator.</p>
            </div>
            <div class="tren-feature col-1-3">
                <span class="tren-feature__icon icon-box"><i class="icon-check"></i></span>
                <h4>Bayar Tagihan</h4>
                <p>Tagihan Telkom, PLN, PDAM, Finance, BPJS, TV Kabel, Kartu Halo, Matrix, XPLOR dll</p>
            </div>
            <div class="tren-feature col-1-3">
                <span class="tren-feature__icon icon-box"><i class="icon-gamepad"></i></span>
                <h4>Beli Voucher Games</h4>
                <p>Hiburan game online Anda makin seru dengan beli voucher games lewat HP</p>
            </div>
            <div class="tren-feature col-1-3">
                <span class="tren-feature__icon icon-box"><i class="icon-gift"></i></span>
                <h4>Sedekah dan Aqiqoh</h4>
                <p>Sedekah harian, sedekah produktif, bahkan Aqiqah dan Qurban. Tinggal Klik aja</p>
            </div>
        </div>
    </div>
</div>

<div class="tren-wrapper body--dark-bg">
    <div class="home-wrapper">
        <h2 class="line-title space--top is-center"><span class="tren-color">PayTren</span> Connecting Your Life</h2>
        <h4 class="space--bottom is-center">Dengan kehadiran PayTren 5, Anda juga mendapatkan fitur-fitur baru berikut:</h4>
        <div class="tren-feature__extra clearfix">
            <div class="extra-feature col-1-2">
                <ul>
                    <li>
                        <h4>MyGroup</h4>
                        <p>Fitur Grup yang mendeteksi sekaligus membentuk otomatis anggota-anggota dimana didalamnya terdapat seluruh mitra yang kita referensikan untuk menggunakan Aplikasi PayTren dimana kita wajib melakukan pembinaan terhadap mereka.</p>
                    </li>
                    <li>
                        <h4>MyLeader</h4>
                        <p>Fitur Grup yang mendeteksi sekaligus membentuk otomatis anggota-anggota dimana didalamnya terdapat seluruh mitra (termasuk kita) untuk mendapatkan hak pembinaan secara langsung dari mitra yang mereferensikan kita dan mitra lainnya untuk menggunakan Aplikasi PayTren.</p>
                    </li>
                    <li>
                        <h4>PayTrenGram</h4>
                        <p>Menampilkan buah pikiran, quote dan manuskrip dari para Pakar di bidangnya. Para expert atau ahli di bidang keilmuan apapun yang sesuai dengan pengembangan PayTren akan tampil dengan silabus dan conten-content menarik dan berwawasan tentunya.</p>
                    </li>
                </ul>
            </div>    <!--end feature-list left-->
            <div class="extra-feature col-1-2">
                <ul>
                    <li>
                        <h4>Cloud Class</h4>
                        <p>Pendidikan Onlne berbasis Cloud yang Berisikan aneka Info tentang Dunia Pendidikan.</p>
                    </li>
                    <li>
                        <h4>PayTren Channel</h4>
                        <p>Berisikan content News, Article, Event, Promo dan program –program TV. Menampilkan beragam cerita/berita seputar PayTren dan juga pengetahuan Umum terkait.</p>
                    </li>
                    <li>
                        <h4>Special Feature</h4>
                        <p>Adalah fitur-fitur tambahan seperti layanan keuangan, jual beli di BelanjaQu (marketplace), program-program sedekah, dan fitur-fitur lain yang terus ditambahkan atau disempurnakan.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tren-wrapper body--light-bg">
    <div class="home-wrapper">
        <h2 class="line-title space--top is-center">Apa Untungnya Pakai <span class="tren-color">PayTren</span></h2>
        <div class="tren-feature__extra clearfix">
            <div class="extra-feature col-1-2">
                <ul>
                    <li>Mudah, Praktis & Efisien</li>
                    <li>Biaya Admin lebih murah</li>
                    <li>Tidak ada biaya bulanan</li>
                    <li>Berlaku seumur hidup dan bisa diwariskan</li>
                </ul>
            </div>
            <div class="extra-feature col-1-2">
                <ul>
                    <li>Dapat CashBack dari setiap transaksi</li>
                    <li>Tiap transaksi bernilai sedekah</li>
                    <li>BERNILAI BISNIS</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tren-wrapper main-bg">
    <h2 class="line-title space--top is-center">Profil Perusahaan <span class="tren-color">PayTren</span></h2>
    <div class="home-wrapper clearfix">
        <div class="col-1-3">
            <figure>
                <img class="img" src="{{ $baseurl := .Site.BaseURL }}/images/paytren-office.jpg" alt="paytren office" width="480" height="480">
            </figure>
            <figure class="space--center">
                <img class="img" src="{{ $baseurl := .Site.BaseURL }}/images/paytren-apli-mui.jpg" alt="paytren apli" width="471" height="221">
            </figure>
        </div>
        <div class="col-2-3 tren-reason">
            <p>TRENI atau PT. Veritra Sentosa Internasional merupakan perusahaan Global yang bergerak dibidang micro payment yang didirikan oleh <strong>Ustadz Yusuf Mansur</strong> pada tanggal 10 Juli 2013</p>
            <p>Lahir dari pemikiran Yusuf Mansur sebagai bentuk kontribusi dalam menunjang kehidupan masyarakat Indonesia. Dari hasil pengamatannya terhadap kebiasaan dan budaya masyarakat Indonesia saat ini, muncul gagasan untuk memberikan fasilitas yang bertujuan memudahkan dan membantu masyarakat.</p>
            <p>Salah satu karya Treni adalah <strong>PayTren</strong>, fasilitas yang memudahkan masyarakat dalam melakukan pembayaran kewajiban dengan menggali potensi kebiasaan mereka dalam penggunaan teknologi (gadget). Keunikan lain dari PayTren adalah dapat memberikan manfaat dan keuntungan <strong>lebih dari sekedar aplikasi untuk bayar-bayar</strong>.</p>
        </div>
    </div>
</div>

<div class="tren-wrapper main-bg">
    <div class="home-wrapper">
        <h2 class="line-title space--top is-center">Our <span class="tren-color">Merchant</span></h2>
        <h4 class="is-center">PayTren udah kerjasama dengan banyak merchant diantaranya…</h4>
        <figure class="space--center">
            <img src="/images/merchant.png" alt="merchant" width="1024" height="431">
        </figure>
    </div>
</div>

<div class="tren-wrapper main-bg">
    <div class="home-wrapper">
        <h2 class="line-title space--top is-center">Mitra Affiliasi <span class="tren-color">PayTren</span></h2>
        <h4 class="is-center">Anda bisa menikmati banyak fitur dan program yang diberikan oleh mitra-mitra affiliasi PayTren :</h4>
        <figure class="space--center">
            <img src="/images/fitur-lainnya.png" alt="fitur lainnya" width="929" height="190">
        </figure>
    </div>
</div>

<div class="tren-wrapper body--dark-bg">
    <div class="home-wrapper">
        <h2 class="is-center line-title space--top">Kenapa <span class="tren-color">PayTren</span> Istimewa dan Berbeda?</h2>
        <div class="clearfix space--center">
            <div class="tren-special col-1-3 main-bg">
                <span class="tren-special__icon"><i class="icon-shareable"></i></span>
                <h4>Fleksibel</h4>
                <p>Hanya dengan satu sentuhan melalui smartphone saja semua transaksi Anda dapat dilakukan dengan mudah, efektif dan efisien.</p>
            </div>
             <div class="tren-special col-1-3 tren-bg">
                <span class="tren-special__icon-center"><i class="icon-users"></i></span>
                <h4 class="light-text-color">Sistem Komunitas</h4>
                <p class="light-text-color">Sistem komunitas Paytren membuat Anda bekerja secara team, memungkinkan anda memiliki jaringan bisnis di seluruh Indonesia.</p>
            </div>
             <div class="tren-special col-1-3 main-bg">
                <span class="tren-special__icon"><i class="icon-dollar"></i></span>
                <h4>Cashback & Reward</h4>
                <p>Memberi Anda cashback disetiap transaksi dan berbagai reward dari pengembangan komunitas PayTren yang berhasil Anda bangun.</p>
            </div>
        </div>
    </div>
</div>

<div class="tren-wrapper main-bg">
    <div class="home-wrapper">
       <h2 class="is-center line-title space--top">Kenapa Anda harus Gabung <span class="tren-color">PayTren</span> Sekarang?</h2>
        <div class="clearfix space--center">
            <div class="tren-join col-1-3">
                <figure>
                    <img class="img" src="{{ $baseurl := .Site.BaseURL }}/images/gabung-paytren.png" alt="harus gabung paytren" width="577" height="531">
                </figure>
            </div>
            <div class="tren-join col-2-3">
                <ul>
                    <li>
                        <h4>Prospek Bisnis Masa Depan</h4>
                        <p>Peluang Bisnis yang Canggih dan Modern dengan Prospek yang Cerah di Indonesia bahkan Dunia untuk Kemudahan Transaksi.</p>
                    </li>
                    <li>
                        <h4>Modal Relatif Terjangkau</h4>
                        <p>Modal Bisnis PayTren yang Sangat Terjangkau yaitu dengan Rp 350.000 tetapi dengan Potensi Penghasilan yang Besar bagi Anda yang serius menjalan Bisnis PayTren.</p>
                    </li>
                    <li>
                        <h4>Owner & Founder Yang Visioner</h4>
                        <p>Dibawah pimpinan langsung Ustadz Yusuf Mansur yang Visioner, Amanah & memiliki magnet yg Kuat di Indonesia sehingga akan mengawal Bisnis ini mendunia dan tentunya pernuh Keberkahan</p>
                    </li>
                    <li>
                        <h4>Legalitas Resmi, Jelas & Lengkap</h4>
                        <p>Legalitas Perusahaan resmi, lengkap dan Jelas, dibawah pengawasan para pakar Ekonomi & Syariah dan DSN MUI serta Pemerintah Indonesia.</p>
                    </li>
                    <li>
                        <h4>Team Yang Solid</h4>
                        <p>Komunitas PayTren team kami dengan web support yang Anda kunjungi ini selalu positif, optimis, saling membantu dan menginspirasi. Dengan visi yang jelas, untuk membangkitkan bisnis syariah di Indonesia secara berjamaah.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="is-center space--center">
           {{ with $.Site.Data.theme }}
            <a class="button tren-bg" href="{{ .button_url }}" target="_blank">Daftar Sekarang</a>{{ end }}
        </div>
    </div>
</div>

<div class="tren-wrapper body--light-bg">
    <div class="home-wrapper">
       <h2 class="is-center line-title space--center">Apakah Bisnis <span class="tren-color">PayTren</span> ini Sesuai Dengan Syariah?</h2>
        <div class="tren-syari">
            <div class="space--center">
                <figure>
                    {{ with $.Site.Data.home }}
                    <img src="{{ $baseurl := .Site.BaseURL }}{{ .section_syariah.image}}" alt="paytren syariah" width="1024" height="342">{{end}}
                </figure>
            </div>
            <div class="tren-syari__media space-center tren-box">
                <div class="tren-syari__video tren-youtube space--top">
                   {{ with $.Site.Data.home }}
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ .section_syariah.youtube}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>{{ end }}
                </div>
            </div>
            <div class="space--center">
                {{ with $.Site.Data.home }}
                <p>{{ .section_syariah.text_1}}</p>{{end}}
                {{ with $.Site.Data.home }}
                <p>{{ .section_syariah.text_2}}</p>{{end}}
                {{ with $.Site.Data.home }}
                <p>{{ .section_syariah.text_3}}</p>{{end}}
                {{ with $.Site.Data.home }}
                <p>{{ .section_syariah.text_4}}</p>{{end}}
                {{ with $.Site.Data.home }}
                <p>{{ .section_syariah.text_5}}</p>{{end}}
            </div>
        </div>  
    </div>
</div>

{{ with $.Site.Data.home }}
<div class="tren-head gradient-overlay space--center">
    <div class="banner-bg" style="background-image: url({{ $baseurl := .Site.BaseURL }}{{ .section_head.cover}});"></div>
    <div class="mask-bg" data-bg-color="#000" data-bg-color-opacity="0.6" style="background-color: rgba(0, 0, 0, 0.6);"></div>
    <div class="home-wrapper">
        <div class="tren-quote is-center"> 
            <h2 class="tren-quote__title light-text-color">PELUANG BISNIS PAYTREN</h2>
            <h3 class="tren-quote__message light-text-color space-text--bottom">"<i>Sukses itu pertemuan antara peluang dan kesiapan"</i></h3>
            <h2 class="tren-quote__sub-title light-text-color space-text--bottom">Kembangkan Bisnisnya Serta Raih Kebebasan Waktu dan Finansial Anda Bersama Komunitas PayTren</h2>
            <h4 class="warning-color">PayTren terbukti telah mengantarkan puluhan ribu mitra bisnisnya memiliki penghasilan Rp. 10 juta hingga Rp. 300 juta perbulan. Sekarang giliran Anda...</h4>
        </div>
    </div>
</div>
{{ end }}

<div class="tren-wrapper main-bg">
    <div class="home-wrapper">
       <h2 class="is-center line-title space--top">Apa Kata Mereka tentang <span class="tren-color">PayTren</span>?</h2>
       <h4 class="is-center">Sebelum lebih lanjut mempelajari bisnisnya, mari kita lihat mereka yang sudah berhasil dibisnis ini :</h4>
       <div class="tren-testimoni">
           <div class="tren-testimoni__body body--dark-bg">
                <div class="tren-testimoni__avatar">
                    <figure>
                        <img src="{{ $baseurl := .Site.BaseURL }}/images/adnan-muslim.png" alt="adnan muslim" width="120" height="120">
                    </figure>
                </div>
                <div class="tren-testimoni__content">
                    <p>"Sebelum Saya memutuskan di Bisnis PayTren, Saya adalah Seorang Surveyor Appraiser Properti. Waktu itu Saya sadar bahwa Saya dulu tidak selamanya seperti itu.</p>
                    <p>Hidup serba pas-pas an dan terutama Beban Kerja yang sangat berat. Dari dulu Saya ingin memiliki Penghasilan diatas 100 Juta/ Bulan Dan Alhamdulillah Saya diperkenalkan dengan PayTren dan ikuti Seminar Bersama Ustadz Yusuf Mansur ketika itu.</p>
                    <p>Saya yang tak punya modal Marketing sebelumnya, memutuskan untuk jalani Bisnis PayTren dan banyak ilmu yang Saya pelajari di PayTren Akhirnya Saya bisa berpenghasilan diatas 100Juta/Bulan impian 5 tahun yang lalu akhirnya tercapai dan atas izin Allah SWT, Saya bisa mendapatkan Banyak Reward di PayTren, Beberapa kali dapat Motor, Beberapa kali Umroh, dan tentunya Mobil GRATIS dari PayTren.</p>
                    <p>Ini Saya peroleh dalam waktu kurang dari 3 Tahun dalam menjalankan Bisnis PayTren hanya dari Online atau menggunakan Smartphone dan Gadget saya dari Rumah.</p>
                    <p>Tentunya Siapa pun dengan Perjuangan yang tanpa Henti dan Berserah diri kepada Allah SWT bisa Sukses bersama PayTren. Saya BISA, Anda Pun Pasti BISA!!! Dan Saya Siap membina Kawan-kawan semua untuk Sukses bersama PayTren, sesuai Ilmu dan Pengalaman yang Saya miliki dan Terbutki Berhasil."</p>
                </div>
                <div class="testi-name">
                    <h4>Adnan Muslim (Digital Preneur)</h4>
                    <span>Duta PayTren, Top Leader, & Digital Marketer</span>
                </div>
           </div>
           <div class="tren-testimoni__body body--dark-bg">
                <div class="tren-testimoni__avatar">
                    <figure>
                        <img src="{{ $baseurl := .Site.BaseURL }}/images/dani-mubarak.png" alt="dani mubarak" width="120" height="120">
                    </figure>
                </div>
                <div class="tren-testimoni__content">
                    <p>"Saya merintis bisnis Paytren sejak 2013, bersama dengan 2 orang sahabat saya di Banjarmasin. Saat ditawarkan oleh Bunda Selvy peluang ini awalnya saya tidak begitu yakin, karna menurut saya bisnis modal kecil hasilnya UANG Receh aja hehee.</p>
                    <p>Tapi beruntungnya waktu itu saya positif aja karna mendengar ini milik Ust. Yusuf Mansur, Bismillah saya jalankan. Syukur Alhamdulillah hingga saat ini total komisi yang saya terima kurang lebih Rp. 1 Milyaran dan mendapatkan Mobil GRATIS dari PayTren juga."</p>
                </div>
                <div class="testi-name">
                    <h4>Dani Mubarak</h4>
                    <span>Gold Leader</span>
                </div>
           </div>
            <div class="tren-testimoni__body body--dark-bg">
                <div class="tren-testimoni__avatar">
                    <figure>
                        <img src="{{ $baseurl := .Site.BaseURL }}/images/ahmad-zaky.png" alt="ahmad zaky" width="120" height="120">
                    </figure>
                </div>
                <div class="tren-testimoni__content">
                    <p>"Saya bergabung Paytren pertengahan 2013, diperkenalkan oleh sahabat saya Bp. Dani Mubarak. Awalnya saya agak ragu untuk menjalankan bisnisnya, karena pengalaman-pengalaman terdahulu. Akhirnya yang membuat saya yakin bahwa bisnis Paytren ini akan jalan adalah nama besar pemilik perusahaan yaitu Ustadz Yusuf Mansur.</p>
                    <p>Alhamdullilah dugaan saya tepat, bisnisnya mudah diterima oleh masyarakat karena produknya yang berhubungan dengan keperluan sehari-hari, seperti isi ulang pulsa, token listrik, pembayaran PLN, PDAM, Telp, Kartu HALO, dll.</p>
                    <p>Apalagi kami didukung penuh oleh Bp. Dani Mubarak untuk pengembangan Bisnis Paytren secara Offline dan melalui metode yang menurut kami sangat penting di era digital ini, yaitu pengembangan Bisnis Paytren secara Online."</p>
                </div>
                <div class="testi-name">
                    <h4>Ahmad Zaky Yamani</h4>
                    <span>Gold Leader</span>
                </div>
            </div>
            <div class="tren-testimoni__body body--dark-bg">
                <div class="tren-testimoni__avatar">
                    <figure>
                        <img src="{{ $baseurl := .Site.BaseURL }}/images/firman-kurniawan.png" alt="firman kurniawan" width="120" height="120">
                    </figure>
                </div>
                <div class="tren-testimoni__content">
                    <p>"Dalam memilih sebuah Bisnis atau Peluang ada 3 Hal Utama yang Harus Kita Perhatikan, Yaitu : Bagaimana Perusahaan-nya – Produk-nya – & Bisnis Plan-nya, Nah di Paytren, Semuanya memenuhi Kriteria Saya.</p>
                    <ul>
                        <li>Perusahaan: Paytren dengan Figur Ustadz Yusuf Mansur sebagai Direktur Utama sekaligus pemilik, Yg insya allah memiliki rekam jejak yang bagus serta Amanah dalam berbisnis, keuntungan dari paytren pun akan di Sedekahkan membuat kita tidak hanya sekedar berbisnis tapi juga sekaligus beramal. Disamping Ketokohan Ustadz Yusuf Mansur, Paytren juga telah mempunyai Izin dan Legal secara hukum.</li>
                        <li>Produk: Paytren Sebagai aplikasi untuk memudahkan semua Transaksi Pembayaran Anda, Selama transaksi masih ada maka Paytren akan menjadi Produk lifetime “PayTren – not just a payment App, it gives more than you pay”.</li>
                        <li>Bisnis Plan : Bisnis Plan yg tidak Neko Neko, simple dan mudah di jalankan."</li>
                    </ul>
                </div>
                <div class="testi-name">
                    <h4>Firman Kurniawan</h4>
                    <span>Gold Leader</span>
                </div>
            </div>
       </div>
    </div>
</div>

<div class="tren-wrapper main-bg">
    <div class="home-wrapper tren-testimoni__user is-center">
        <h2>#Happy PayTren</h2>
        <h4>Mari kita simak apa kata mereka yang sudah menggunakan <span class="tren-color">PayTren</span></h4>
        <div class="space--center">
            <div id="owl" class="tren-slider loop owl-carousel owl-theme owl-loaded owl-drag">
                {{ with $.Site.Data.home }}
                <div class="product-image">
                    <img src="{{ .section_testimoni.image_1 | relURL }}" alt="testimoni 1"/>
                </div>
                <div class="product-image">
                    <img src="{{ .section_testimoni.image_2 | relURL }}" alt="testimoni 2"/>
                </div>
                <div class="product-image">
                    <img src="{{ .section_testimoni.image_3 | relURL }}" alt="testimoni 3"/>
                </div>
                <div class="product-image">
                    <img src="{{ .section_testimoni.image_4 | relURL }}" alt="testimoni 4"/>
                </div>
                <div class="product-image">
                    <img src="{{ .section_testimoni.image_5 | relURL }}" alt="testimoni 5"/>
                </div>
                <div class="product-image">
                    <img src="{{ .section_testimoni.image_6 | relURL }}" alt="testimoni 6"/>
                </div>
                <div class="product-image">
                    <img src="{{ .section_testimoni.image_7 | relURL }}" alt="testimoni 7"/>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="tren-testimoni__story space--center">
           <h3 class="space--center">Simak juga apa kata mereka yang sudah menjalankan bisnis <span class="tren-color">PayTren</span></h3>
            <div id="owl" class="testi-slider loop owl-carousel owl-theme owl-loaded owl-drag">
                {{ with $.Site.Data.home }}
                <div class="product-image">
                    <img src="{{ .success_story.image_1 | relURL }}" alt="success story 1"/>
                </div>
                <div class="product-image">
                    <img src="{{ .success_story.image_2 | relURL }}" alt="success story 2"/>
                </div>
                <div class="product-image">
                    <img src="{{ .success_story.image_3 | relURL }}" alt="success story 3"/>
                </div>
                <div class="product-image">
                    <img src="{{ .success_story.image_4 | relURL }}" alt="success story 4"/>
                </div>
                <div class="product-image">
                    <img src="{{ .success_story.image_5 | relURL }}" alt="success story 5"/>
                </div>
                {{ end }}
            </div>
            <p class="is-center space--top"><strong><span class="danger-color">*</span>Disclaimer:</strong> Penghasilan setiap orang akan berbeda-beda tergantung dari kerja keras dan kinerja setiap orang.</p>
            <h3 class="danger-color is-center">Kalau mereka bisa ANDA pasti juga BISA!!!</h3>
            <div class="is-center space--center">
               {{ with $.Site.Data.theme }}
                <a class="button tren-bg" href="{{ .button_url }}" target="_blank">Daftar Sekarang</a>{{ end }}
            </div>
        </div>
    </div>
</div>

<div class="tren-wrapper body--dark-bg">
    <div class="home-wrapper">
        <h2 class="is-center line-title space--top">Bagaimana Cara Daftar <span class="tren-color">PayTren</span>?</h2>
        <div class="clearfix space--center is-center">
            <div class="tren-step main-bg col-1-3">
                <span class="tren-step__icon"><i class="icon-id-card"></i></span>
                <h4 class="tren-color">Pilih Lisensi</h4>
                <p>Pilih lisensi atau paket kemitraan PayTren. Sesuaikan dengan tujuan Anda bergabung Paytren</p>
            </div>
             <div class="tren-step main-bg col-1-3">
                <span class="tren-step__icon"><i class="icon-barcode"></i></span>
                <h4 class="tren-color">Beli EPIN</h4>
                <p>Beli EPIN atau serial number PayTren melalui kami selaku mitra bisnis resmi PayTren</p>
            </div>
             <div class="tren-step main-bg col-1-3">
                <span class="tren-step__icon"><i class="icon-login"></i></span>
                <h4 class="tren-color">Aktivasi PayTren</h4>
                <p>Aktifkan aplikasi PayTren dengan cara memasukkan EPIN yang telah Anda beli</p>
            </div>
        </div>
    </div>
</div>

<div class="tren-wrapper main-bg">
    <div class="home-wrapper">
       <h2 class="is-center line-title space--top">Apa Saja yang Anda Dapatkan Setelah Daftar <span class="tren-color">PayTren</span>?</h2>
        <div class="tren-bonus space--center">
            <ul>
                {{ with $.Site.Data.home }}
                <li><h4>{{ .section_bonus.bonus_1}}</h4></li>
                <li><h4>{{ .section_bonus.bonus_2}}</h4></li>
                <li><h4>{{ .section_bonus.bonus_3}}</h4></li>
                <li><h4>{{ .section_bonus.bonus_4}}</h4></li>
                <li><h4>{{ .section_bonus.bonus_5}}</h4></li>
                <li><h4>{{ .section_bonus.bonus_6}}</h4></li>
                {{end}}
            </ul>
            
            <div class="tren-bonus__title space--top">
                <h3 class="is-center">Serta <span class="danger-color">TIM SUPPORT</span> yang <span class="danger-color">SOLID</span> secara online dan offline di masing-masing daerah</h3>
                <h3 class="is-center"><span class="danger-color">MANFAAT</span> yang Anda dapatkan <span class="danger-color">LEBIH BESAR</span> daripada <span class="danger-color">MODAL</span> yang Anda keluarkan</h3>
            </div>
        </div>
    </div>
</div>

<div class="tren-wrapper is-center tren-bg">
    <div class="home-wrapper">
        <h2 class="light-text-color no-space">Ya, Saya Mau Daftar PayTren. Berapa Biayanya?</h2>
    </div>
</div>

<div class="tren-wrapper main-bg">
    <div class="home-wrapper">
        <div class="is-center">
            <h4>Hanya dengan Rp. 350.000 saja sudah berlaku untuk seumur hidup</h4>
            <h3 class="tren-price danger-color">Rp. 350.000,-</h3>
            <div class="tren-button">
               {{ with $.Site.Data.theme }}
                <a class="button tren-bg" href="{{ .button_url }}" target="_blank">Daftar Sekarang</a>{{ end }}
            </div>
            <p>atau</p>
            <div class="tren-button">
                {{ with $.Site.Data.setting.pengguna }}
                <a class="button success-bg" href="https://api.whatsapp.com/send?phone={{ .whatsapp }}&text=Saya%20Mau%20Daftar%20PayTren%20Lisensi%20Basic%20%0AAtas%20%0ANama%20%3A%0AAlamat%20Lengkap%20%3A" target="_blank"><i class="icon-whatsapp"></i> | Daftar Via Whatsapp</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>

<div class="tren-wrapper body--dark-bg">
    <div class="home-wrapper">
        <h3 class="tren-question__headline is-center">Pertanyaan yang Biasa Ditanyakan</h3>
        <div class="tren-question__content">
            <button class="qa-button">Daftar PayTren kenapa harus bayar?<i class="icon-down qa-icon"></i></button>
            <div class="panel">
                <p>Karena PayTren bukan sekedar aplikasi pembayaran. Aplikasi PayTren merupakan aplikasi premium yang dikembangkan dengan serius oleh perusahaan sehingga memiliki fitur berbeda yang tidak akan anda dapatkan diaplikasi lain.</p>
            </div>
            <button class="qa-button">Apakah saya langsung mendapat saldo Rp. 350.000?<i class="icon-down qa-icon"></i></button>
            <div class="panel">
                <p>TIDAK. seperti yang kami telah jelaskan sebelumnya. 350rb itu hanya untuk beli lisensi aplikasi PayTren. Akan tetapi nanti Anda akan diberikan bonus saldo sebesar 15rb agar begitu teraktivasi Anda langsung bisa mempraktekan cara transaksi.</p>
            </div>
            <button class="qa-button">Apakah ada TARGET Transaksi Perbulan di PayTren?<i class="icon-down qa-icon"></i></button>
            <div class="panel">
                <p>TIDAK ADA. Pakai suka-suka, bayar suka-suka.</p>
            </div>
        </div>
    </div>
</div>

{{ with $.Site.Data.setting.pengguna }}
<div class="tren-wrapper is-center body--dark-bg">
    <div class="home-wrapper">
        <h2 class="treni-support__headline">Butuh Bantuan? Hubungi Sponsor PayTren</h2>
        <h3>Nama: {{.nama}} ( ID Mitra {{ .id_mitra }} ) Telp/SMS/Whatsapp: {{ .whatsapp }}</h3>
    </div>
</div>
{{ end }}