<!-- custom -->
    <script src="{{ .Site.BaseURL }}js/jquery-3.0.0.slim.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/theme.min.js"></script>   
    
{{ range .Site.Params.js }} <script src="{{ . }}"></script> {{ end }}


