{{ if .IsHome }}  
<header class="site-header header header-home">
    <div class="nav-home">
{{ else }}
<header class="site-header header">
    <div class="header-nav header-nav__bg header-nav--shadow">{{ end }}
        <div class="nav-wrapper container clearfix">
            <div class="nav-brand">
                <a class="site-link" href="{{ .Site.BaseURL }}">
                    {{ with $.Site.Data.setting }}
                    <picture class="site-logo"><img class="site-img" src="{{ .logo }}" alt="mitrapaytren.net"></picture>
                    {{ end }}
                </a>
            </div>
            <div class="nav-main">
                <div class="nav-mobile">
                    <a class="nav-toggle" href="#!"><span class="nav-toggle__item"></span></a>
                </div>
                <nav class="nav-menu">

                    {{ if and ( or (.Site.Menus.main) (.Site.Menus.store) ) }}
                    <ul class="nav-menu__item menu">
                    {{ if .IsHome }}
                    
                        {{ range sort .Site.Menus.main }}
                        <li class="menu-item"><a class="menu-item__link light-text-color" href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
                 
                    {{ else }}
                        {{if eq .Section "store"}}
                     
                            {{ range sort .Site.Menus.store }}
                            <li class="menu-item"><a class="menu-item__link menu-item__link-color" href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
                        {{ else }}
                            {{ range sort .Site.Menus.main }}
                            <li class="menu-item"><a class="menu-item__link menu-item__link-color" href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
                        {{ end }}
                   
                    {{ end }}
                     </ul>
                    {{ end }}
                </nav>
            </div>
        </div>
    </div>
</header>
