{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="pagination clearfix">
    {{ if .Paginator.HasPrev }}
    <a class="pagination-prev border-color" href="{{ .Paginator.Prev.URL }}">&larr; Artikel baru</a>
    {{ end }}
    <span class="pagination-page">Halaman {{ .Paginator.PageNumber }} dari {{ .Paginator.TotalPages }}</span>
    {{ if .Paginator.HasNext }}
    <a class="pagination-next border-color" href="{{ .Paginator.Next.URL }}">Artikel lama &rarr;</a>
    {{ end }}
</nav>
{{ end }}


