<div id="owl" class="store-slider loop owl-carousel owl-theme owl-loaded owl-drag">
    <div class="product-image">
        {{ if .Params.image_1 }}
        <img src="{{ .Params.image_1 | relURL }}" alt="{{ .Title }}"/>
        {{ end }}
    </div>
     <div class="product-image">
        {{ if .Params.image_2 }}
        <img src="{{ .Params.image_2 | relURL }}" alt="{{ .Title }}"/>
        {{ end }}
    </div>
     <div class="product-image">
        {{ if .Params.image_3 }}
        <img src="{{ .Params.image_3 | relURL }}" alt="{{ .Title }}"/>
        {{ end }}
    </div>
    <div class="product-image">
        {{ if .Params.image_4 }}
        <img src="{{ .Params.image_4 | relURL }}" alt="{{ .Title }}"/>
        {{ end }}
    </div>
    <div class="product-image">
        {{ if .Params.image_5 }}
        <img src="{{ .Params.image_4 | relURL }}" alt="{{ .Title }}"/>
        {{ end }}
    </div>
</div>

