<header class="product-card__header space--top">
    <h3 class="product-card__header-title"><span>Produk Terkait</span></h3>
</header>
<div class="product-card__wrapper clearfix">
    {{ $related := first 4 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "store") ".Params.product" "intersect" .Params.product) "Permalink" "!=" .Permalink) }}
    {{ if $related }}
    {{ range $related }}
    <div class="product-card col-1-4">
        <div class="product-card__image">
            <a class="product-link" href="{{ .Permalink }}">
                {{ if .Params.image_1 }}
                <img src="{{ .Params.image_1 | relURL }}" alt="{{ .Title }}" width="300" height="300"/>
                {{ end }}
            </a>
        </div>  
        <div class="product-card__info">
            <a class="product-link" href="{{ .Permalink}}"><h3 class="product-card__title">{{ .Title }}</h3></a>
            {{ if .Params.price }}
            <p class="product-price"><b>{{ .Params.price }}</b></p>
            {{ end }}
            {{ with $.Site.Data.setting.pengguna }}
            <a class="product-card__button" href="https://api.whatsapp.com/send?phone={{ .whatsapp }}&text=Saya%20Mau%20Order%20Buku%20{{ .Title }}%20%0ADikirim%20Ke%20%0ANama%20%3A%0AAlamat%20Lengkap%20%3A" target="_blank">Beli Sekarang</a>{{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>