
<div id="owl" class="store-slider loop owl-carousel owl-theme owl-loaded owl-drag">
      
       {{ with $.Site.Data.theme.banner_store }}
        <div class="store-carousel">  
            <div class="store-image">
               <figure>
                   <img class="img" src="{{ .image_1 | relURL }}" alt="{{ .Title }}" width="1200" height="400">
               </figure>
            </div>
        </div>
        <div class="store-carousel">  
            <div class="store-image">
               <figure>
                   <img class="img" src="{{ .image_2 | relURL }}" alt="{{ .Title }}" width="1200" height="400">
               </figure>
            </div>
        </div>
        <div class="store-carousel">  
            <div class="store-image">
               <figure>
                   <img class="img" src="{{ .image_3 | relURL }}" alt="{{ .Title }}" width="1200" height="400">
               </figure>
            </div>
        </div>
        <div class="store-carousel">  
            <div class="store-image">
               <figure>
                   <img class="img" src="{{ .image_4 | relURL }}" alt="{{ .Title }}" width="1200" height="400">
               </figure>
            </div>
        </div>
        {{ end }} 
</div>

