{{ partial "header.html" . }}
<main id="site-main" class="site-main">
    <header class="list-header body--dark-bg space--center">
        <div class="container">
            <h2 class="list-title no-space is-center">Posting Menarik tentang "{{ .Title }}"</h2>
        </div>
    </header>
    <div class="main-content body--dark-bg">
        <div class="container main-bg clearfix">
            <div class="content-area col-2-3">
                <div class="post-feed__wrapper">

                    {{ range ( .Paginate (where .Data.Pages "Type" "post")).Pages }}
                    {{ .Render "summary"}}
                    {{ end }}

                </div>       
                {{ partial "pagination.html" . }}
            </div>
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</main>
{{ partial "footer.html" . }}