{{ partial "header" . }}                 
<main id="site-main" class="site-main">
    <div class="main-content main-bg">
        <div class="content-area store-wrapper">
            <div class="product-banner space--center">
                {{ partial "store-slider" . }}
            </div>
            <header class="product-card__header">
                <h3 class="product-card__header-title"><span>Produk {{ .Title }}</span></h3>
            </header>
            {{ partial "product-card.html" . }}
            
            {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
            <nav class="pagination-product space--center clearfix">
                {{ if .Paginator.HasPrev }}
                <a class="product-prev product-more" href="{{ .Paginator.Prev.URL }}">&larr; Produk Lainnya</a>
                {{ end }}
                {{ if .Paginator.HasNext }}
                <a class="product-next product-more" href="{{ .Paginator.Next.URL }}">Produk Lainnya &rarr;</a>
                {{ end }}
            </nav>
            {{ end }}
          
        </div>
    </div>
    <div class="widget-product__wrapper space--center body--dark-bg">
        <div class="container">
            {{ partial "widgets/widget-product.html" . }}
        </div>
    </div>
</main>      
{{ partial "footer" . }}
        