{{ partial "header" . }}                 
<main id="site-main" class="site-main">
    <div class="main-content main-bg">
        <div class="content-area store-wrapper">
            <div class="product-banner space--center">
                {{ partial "store-slider" . }}
            </div>
            <header class="product-card__header">
                <h3 class="product-card__header-title"><span>Produk Terbaru</span></h3>
            </header>
            {{ partial "product-card.html" . }}
            
            <p class="space--bottom is-center"><a class="product-more" href="/product">Produk Lainnya &rarr;</a></p>
            
            <header class="product-card__header">
                <h3 class="product-card__header-title"><span>Artikel Terbaru</span></h3>
            </header>
            <section class="product-post__wrapper clearfix">
                {{ $recent_articles_num := (.Site.Params.widgets.recent_articles_num | default 3) }}
                {{- range first $recent_articles_num (where .Site.RegularPages "Section" "in" (.Site.Params.postSections | default (slice "post"))) }}
                <article class="product-post col-1-3">
                    {{ if .Params.thumbnail }}  
                    <div class="product-post__media">
                        <figure>
                            <img class="product-post__image img" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
                        </figure>
                    </div>
                    {{ end }}
                    <div class="product-post__body">
                        <header class="product-post__header">
                            <a class="post-link" href="{{ .Permalink }}"><h3 class="product-post__title title-link">{{ .Title }}</h3></a>
                        {{partial "post-meta.html" . }}
                        </header>   
                        <div class="product-post__summary">
                            <p class="product-post__excerpt">{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Summary }}{{ end }}</p>
                        </div> 
                    </div>
                </article>  
                {{ end }}
            </section>
        </div>
    </div>
    <div class="widget-product__wrapper space--center body--dark-bg">
        <div class="container">
            {{ partial "widgets/widget-product.html" . }}
        </div>
    </div>
</main>      
{{ partial "footer" . }}
        