{{ partial "header" . }}                 
<main id="site-main" class="site-main">
    <div class="main-content main-bg">
        <div class="content-area space--center container">
            <div class="breadcrumb body--dark-bg">
                <span><a href="{{ .Site.BaseURL }}">Home</a><i class="icon-angle-right"></i></span>  
                {{ $baseUrl := .Site.BaseURL }}  
                {{ range first 1 .Params.product }}
                <span class="post-tags"><a class="post-tags__link" href="{{ $baseUrl }}product/{{ . | urlize }}">{{ . }}</a><i class="icon-angle-right"></i></span>
                {{ end }}
                <span>{{ .Title }}</span>
            </div>
            <div class="product-detail clearfix">
                <div class="product-cover col-1-2">
                   {{ partial "product-slider.html" . }}
                </div>
                <div class="product-info col-1-2">
                    <div class="product-item space--bottom">
                        <h1 class="product-title">{{ .Title }}</h1>
                        <div class="product-desc">

                            {{ if .Params.price }}
                            <p class="product-price product-price--size"><b>{{ .Params.price }}</b></p>
                            {{ end }} 

                            {{ if .Params.stock}}
                            <p class="product-stock"><label><strong>Stok</strong></label>: <span class="stock-ready success-color">Tersedia</span></p>
                            {{else}}
                            <p class="product-stock"><label><strong>Stok</strong></label>: <span class="stock-empty danger-color">Habis</span></p>
                            {{ end }}
                            
                            {{ if .Params.color }}
                            <p class="product-weight"><label><strong>Warna</strong></label>: {{ .Params.color }}</p>
                            {{ end }}
                            
                            {{ if .Params.size }}
                            <p class="product-weight"><label><strong>Ukuran</strong></label>: {{ .Params.size }}</p>
                            {{ end }}
                            
                            {{ if .Params.berat }}
                            <p class="product-weight"><label><strong>Berat</strong></label>: {{ .Params.berat }}</p>
                            {{ end }}
                            
                            {{ if .Params.merek }}
                            <p class="product-weight"><label><strong>Merek</strong></label>: {{ .Params.merek }}</p>
                            {{ end }}

                        </div>
                        {{ if .Params.link_product }}
                         <div class="order-button">
                            <a class="button tren-button__bg" href="{{ .Params.link_product }}" target="_blank">Beli Sekarang</a>
                        </div>
                        <p class="choose-button">Atau beli lewat whatsapp aja</p>{{ end }}
                        <div class="order-button">
                            
                            <a class="button success-bg" href="https://api.whatsapp.com/send?phone={{ with $.Site.Data.setting.pengguna }}{{ .whatsapp }}{{ end }}&text=Assalamu%27alaikum%20kak%2C%20saya%20mau%20order%20{{ .Title }}%20nih%2C%20sekalian%20sama%20cek%20ongkirnya%20juga%20ya%2C%20dikirim%20Ke%20Nama%20%3A%20(tolong%20isi%20nama%20kamu%20ya%20%3AD)%20dengan%20Alamat%20Lengkap%20%3A%20(dan%20tolong%20isi%20alamat%20lengkap%20kamu%20juga%20ya%20%3AD)" target="_blank"><i class="icon-whatsapp"></i>Beli Via Whatsapp</a>

                            <p class="order-note"><span>*)</span> Harga belum termasuk ongkos kirim</p>
                        </div>

                        <div class="share-button social-share space--bottom">
                            <a class="social-share__icon fb-icon" href="https://www.facebook.com/sharer.php?u={{ .Permalink | html }}" target="_blank" rel="noopener"><i class="icon-facebook"></i></a>
                            <a class="social-share__icon tw-icon" href="https://twitter.com/intent/tweet?text={{ .Title | html }}&amp;url={{ .Permalink | html }}" target="_blank" rel="noopener"><i class="icon-twitter"></i></a>
                            <a class="social-share__icon gplus-icon" href="https://plus.google.com/share?url={{ .Permalink | html }}}"
                            target="_blank" rel="noopener"><i class="icon-gplus"></i></a>
                            <a class="social-share__icon wa-icon" href="whatsapp://send?text={{ .Permalink | html }}}" data-action="share/whatsapp/share" target="_blank" rel="noopener"><i class="icon-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <article class="product-article">
                <header class="product-card__header">
                    <h3 class="product-card__header-title"><span>Deskripsi Produk</span></h3>
                </header>
                <div class="product-content space--bottom">
                    {{ .Content }}
                </div>
            </article>
            {{ partial "related-product.html" . }}
        </div>
    </div>
    <div class="widget-product__wrapper space--center body--dark-bg">
        <div class="container">
            {{ partial "widgets/widget-product.html" . }}
        </div>
    </div>
</main>      
{{ partial "footer" . }}
        