{{ partial "header.html" . }}
<main id="site-main" class="site-main">
    <div class="main-content body--dark-bg">
       <div class="container main-bg clearfix">
            <div class="content-area col-2-3">
                <div class="featured-content">
                    {{ partial "featured-post.html" . }}
                </div>
                <div class="post-feed__wrapper">

                    {{ range ( .Paginate (where .Data.Pages "Type" "post")).Pages }}
                    {{ .Render "summary"}}
                    {{ end }}

                </div>       
                {{ partial "pagination.html" . }}
            </div>
            
            {{ partial "sidebar.html" . }}
       </div>
    </div>
</main>
{{ partial "footer.html" . }}