{{ partial "header.html" . }}
<main id="site-main" class="site-main">
    <div class="main-content body--dark-bg">
        <div class="container main-bg clearfix">
            <div class="content-area col-2-3">
                <div class="single-post single-post__wrapper">
                    <article class="post-article">
                        <div class="breadcrumb body--dark-bg">
                            <span><a href="{{ .Site.BaseURL }}">Home</a><i class="icon-angle-right"></i></span>  
                            {{ $baseUrl := .Site.BaseURL }}  
                            {{ range first 1 .Params.tags }}
                            <span class="post-tags"><a class="post-tags__link" href="{{ $baseUrl }}tags/{{ . | urlize }}">{{ . }}</a><i class="icon-angle-right"></i></span>
                            {{ end }}
                            <span>{{ .Title }}</span>
                        </div>
                            <header class="post-header">
                                <h1 class="post-title">{{ .Title }}</h1>
                                {{ partial "post-meta" . }}
                            </header>
                        {{ if .Params.thumbnail }}  
                        <div class="post-media">
                            <a href="{{ .Permalink }}" class="post-link">
                                <figure>
                                    <img class="post-image img" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
                                </figure>
                            </a>
                        </div>
                        {{ end }}
                        <div class="post-content">
                            {{ .Content }}
                        </div>
                        <footer class="post-footer">
                            <div class="post-footer__wrapper">
                                {{ partial "social-share.html" . }}
                            </div>
                            {{ partial "post-nav.html" . }}
                            {{ partial "authorbox.html" . }}
                        </footer>
                    </article>
                </div>       
                {{ partial "post-nav.html" . }}
                {{ partial "related-posts.html" . }}
            </div>
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</main>
{{ partial "footer.html" . }}