{{ partial "header" . }}                 
<main id="site-main" class="site-main">
    <div class="main-content main-bg">
        <div class="post-header__bg">
            <header class="post-header space--center is-center">
                <div class="post-wrapper">
                    <h2 class="page-list__title">{{ .Title }} default terms template</h2>
                </div>
            </header>
        </div>
        <div class="content-area container">
<ul>
{{ range .Data.Pages }}
<li>
<a href="{{ .Permalink }}">{{ .Title }}</a>
<dl>
<!-- Handling profile that don't have a corresponding page by using .With -->
{{ with .Params.bio }}
<dt>Biografi:</dt><dd> {{ . }}</dd>
{{ end }}
{{ with .Params.facebook }}
<dt>Facebook:</dt><dd>{{ . }}</dd>
{{ end }}
{{ with .Params.twitter }}
<dt>Twitter:</dt><dd>{{ . }}</dd>
{{ end }}
{{ with .Params.instagram }}
<dt>Instagram:</dt><dd>{{ . }}</dd>
{{ end }}
{{ with .Params.website }}
<dt>Website</dt><dd>{{ . }}</dd>
{{ end }}
<dt>Koleksi Buku:</dt><dd><a href="{{ .Permalink }}">{{ .Title }}</a></dd>
{{ with .Params.avatar }}
<dt>Image</dt><dd>{{ . }}</dd>
{{ end }}
<!-- Handling brands that don't have a corresponding page by usinf an if statement -->

</dl>
</li>
{{ end }}
</ul>
        </div>
    </div>
</main>      
{{ partial "footer" . }}
        
