a {
    color: {{ .Get "primary" }};
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: {{ .Get "title_text" }};
}
.tren-color {
    color: {{ .Get "primary" }}
}

.tren-bg {
    background: {{ .Get "primary" }}
}
.tren-title__dark-bg {
    background: {{ .Get "primary_dark" }};
}

.tren-title--light-bg {
    background: {{ .Get "primary" }}
}
.button--light-bg,
.button--light-text:hover {
    color: {{ .Get "primary" }}
}
.line-title:before {
    border-top: 2px solid {{ .Get "primary" }};
}
.video-button {
    color: {{ .Get "primary" }};
}
.tren-bonus ul li:before,
.tren-join ul li:before {
    border: 1px solid {{ .Get "primary" }};
    color: {{ .Get "primary" }};
}
.tren-feature {
    border: 1px solid {{ .Get "primary" }};
}
.icon-box {
    background: {{ .Get "primary" }};
}
.tren-special,
.tren-special--center {
    border: 1px solid {{ .Get "primary" }};
}
.tren-special__icon {
    border: 1px solid {{ .Get "primary" }};
    color: {{ .Get "primary" }}
}
.tren-step__icon {
    background: {{ .Get "primary" }};
}
.title-link {
    color: {{ .Get "title_text" }}
}
.next-post:hover,
.prev-post:hover {
    color: {{ .Get "primary" }};
}
.widget-social-icon:hover {
    background: {{ .Get "primary_dark" }}
}
.footer-widget {
    background: {{ .Get "footer_widget_bg" }};
}
.footer-copyright {
    background: {{ .Get "footer_bg"}}
}
.disclaimer {
    border: 1px solid {{ .Get "primary_dark" }};
}

.disclaimer-link,
.disclaimer-link a {
    color: {{ .Get "primary_dark" }}
}

.social-links__icon {
    color: {{ .Get "primary" }};
}

.social-links__icon:hover {
    background: {{ .Get "primary_dark" }};
}
.menu-footer__link:hover {
    color: {{ .Get "primary_dark" }};
}
.footer-copyright a {
    color: {{ .Get "primary_dark" }};
}

.header-nav__bg {
    background: {{ .Get "menu_bg" }}
}

.menu-item__link-color {
    color: {{ .Get "menu_text" }}
}

.menu-item__link-color:hover {
    color: {{ .Get "menu_text_hover" }};
    background: {{ .Get "menu_hover_bg" }}
}

.title-color {
    color: #fff
}

.title-color:hover {
    color: {{ .Get "primary" }}
}

.link-color {
    color: #fff
}

.title-link:hover {
    color: {{ .Get "primary" }}
}

.border-color {
    border: 1px solid {{ .Get "primary" }}
}

.border-color:hover {
    background: {{ .Get "primary" }};
    color: #fff
}

.about-me a {
    border: 1px solid {{ .Get "primary" }}
}

.about-me a:hover {
    background: {{ .Get "primary" }};
    color: #fff
}

.tren-button__bg,
.widget-subscribe__content button {
    background: {{ .Get "primary" }}
}

.tren-button__bg {
    color: #fff
}

.product-badge {
    background: {{ .Get "primary" }}
}

@media (max-width:991.99px) {
    .nav-menu {
        background-color: {{ .Get "primary" }}
    }
}
